Repository suchmememanyskill/CssLoader-ThemeDb, pull requests merged in 2022-08, with the labels that each got.

#40 Labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: enhancement

#43 Update EMERALD themes
  themes/EMERALD-Galactic.json
  themes/EMERALD-Obsidian.json
  themes/EMERALD-Round.json
Labels: theme update

#44 Add Whiteout Theme
  images/Oteresk/Whiteout.jpg
  themes/Oteresk-Whiteout.json
Labels: new theme

#48 Rounded Keyboard / Colored Keyboard Update
  themes/CootMoon-ColoredKeyboard.json
  themes/CootMoon-RoundedKeyboard.json
Labels: theme update

#49 Add new font, Round fixes
  themes/EMERALD-Fonts.json
  themes/EMERALD-Galactic.json
  themes/EMERALD-Round.json
Labels: theme update

#50 Support for v1.1.0
  .github/pull_request_template.md
  .github/workflows/force.yml
  .github/workflows/push.yml
  README.md
  images/Readme/checkbox.jpg
  images/Readme/dropdown.jpg
  images/Readme/slider.jpg
  main.py
Labels: documentation, enhancement

#56 Update all EMERALD themes to new manifest version
  themes/EMERALD-Centered Home.json
  themes/EMERALD-Fonts.json
  themes/EMERALD-Galactic.json
  themes/EMERALD-Obsidian.json
  themes/EMERALD-Phantom.json
  themes/EMERALD-Round.json
Labels: theme update

#52 Update astolfo and rgb keyboards
  themes/Party Wumpus-Astolfo Keyboard.json
  themes/Party Wumpus-RGB Keyboard.json
Labels: theme update

#57 Update Colored Toggles, SwitchLikeHome
  themes/SuchMeme-ColoredToggles.json
  themes/SuchMeme-SwitchLikeHome.json
Labels: theme update

#58 Add a description to a few of my own themes
  themes/SuchMeme-CleanGameview.json
  themes/SuchMeme-MoreLibraryIcons.json
  themes/SuchMeme-NoGameShine.json
  themes/SuchMeme-NoQAMBlur.json
Labels: theme update

#60 Add Phantom multiple colors
  themes/EMERALD-Phantom.json
Labels: theme update

#68 Add CEF debug step to README
  README.md
Labels: documentation

#65 Gawr Gura - Theme the Decky Store so that its readable.
  themes/joamjoamjoam-GawrGura.json
Labels: theme update

#72 Update MoreLibraryIcons
  themes/SuchMeme-MoreLibraryIcons.json
Labels: theme update
